
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<div class="row">

    <div class="col-sm-4">
        <img src="/Home/ChartColumn?tip=Column" alt="Chart 1" />  @* ?chart_tip = Column ,ekledik çünkü ChartType ını Controller tarafında elle almak yerine artık  parametre youluyla alıyoruz.*@
    </div>
    <div class="col-sm-4">
        <img src="/Home/ChartColumn?tip=Line" alt="Chart 2" />
    </div>
    <div class="col-sm-4">
        <img src="/Home/ChartColumn?tip=SplineArea" alt="Chart 3" />
    </div>

</div>




